:root {
  --accent1: #0C5073;
  --accent2: #37819e;
  --base1: #253036;
  --base2: #284250;
  --surface: #171E22;
  --boundary: #354046;
  --primary: #9ba3a7;
  --secondary: #abadae;
}
body {
  color: var(--primary);
  background-color: var(--base1);
}
a {
  color: var(--primary);
}

#bookmark-search-group{
  background-color: var(--surface);
  box-shadow: 0rem .2rem .5rem rgba(0, 0, 0, .5);
  /*-webkit-transition: 0.35s cubic-bezier(0.58, 0.11, 0.2, 1.05) all;*/
}
#bookmark-search-header {
  background-color: var(--surface);
}
#bookmark-search {
  color: var(--secondary);
  background-color: var(--base1);
}
#bookmark-search:focus {
}
#bookmark-search::-webkit-input-placeholder {
  color: var(--secondary);
}
#bookmark-search-reset {
}
#bookmark-search-result {
  background-color: var(--surface);
}
.bookmark-search-result-items {
}
.bookmark-search-result-items:hover,
.bookmark-search-result-items:focus {
  background: var(--base2);
}

.bookmark-search-result-items span {
  color: var(--secondary);
  background-color: var(--accent1);
}
#bookmark-result-count {
}
#system-link-area {
  opacity: 1;
  background-color: var(--surface);
  border-right: 1px solid var(--boundary);
}
.menu {
  transition: .3s all;
}
.menu:hover {
  background-color: var(--base2);
}
.menu-icon {
  filter: invert(70%);
}

#body-main {
  opacity: 1;
}
.content-module {
  background-color: var(--surface);
  border: 1px solid var(--boundary);
  /*box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);*/
  /*-webkit-transition: 0.48s cubic-bezier(0.58, 0.11, 0.2, 1.00) all;*/
}
.content-header {
  color: var(--primary);
  border-bottom: 0.05rem solid var(--accent1);
}

.content-module ul li:hover {
  background: var(--base2);
  /*-webkit-transition: 0.25s ease-out all;*/
}

.bookmark-count {
}


.toggle-on {
  background-color: var(--accent2);
}
.toggle-on:after {
  background-color: var(--accent1);
}
.active-menu {
  background-color: var(--base2);
}

.float-menu {
  background-color: var(--surface);
  box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
}
input[type=radio] + label {
}
input[type=radio]:hover + label::before {
  border-color: var(--accent2);
}

input[type=radio] + label::before {
  border-color: var(--secondary);
}
input[type=radio]:checked + label:before {
  border-color: var(--accent2);
}
input[type=radio] + label:after {
  background-color: var(--accent2);
}


#web-search-input {
  color: var(--secondary);
  background-color: var(--surface);
  border-color: var(--boundary);
}

::-webkit-input-placeholder {
  color: var(--secondary);
}

#web-search-input:focus {
  border-color: var(--accent1);
}

#web-search-submit{
  border-color: var(--boundary);
  background-color: var(--base2);
}

#web-search-submit:hover{
  background-color: var(--accent2);
}