a {
    display: block;
    text-decoration: none;
    color: #345;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*SearchArea*/

#bookmark-search-group {
    left: -34rem;
    height: 100%;
    width: 24rem;
    position: fixed;
    z-index: 14;
    overflow: hidden;
    transition: .4s cubic-bezier(.49, .1, .2, 1) all;
}

#bookmark-search-header {
    height: 1.5rem;
    padding: 0.65rem;
    overflow: hidden;
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
    transition: .3s all;
}

#bookmark-search-input-area {
    width: 100%;
}

#bookmark-search {
    height: 2.8rem;
    width: 100%;
    padding: 0.4rem 2rem 0.4rem 0.4rem;
    box-sizing: border-box;
    position: absolute;
    display: block;
    cursor: pointer;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

#bookmark-search:focus {
    cursor: text;
}

#bookmark-search::-webkit-input-placeholder {
    font-size: 1rem;
    font-weight: normal;
}

#bookmark-search-reset {
    line-height: 1rem;
    padding: .8rem 0 1rem 0;
    font-size: 1.2rem;
    right: 1.2rem;
    position: absolute;
}

.bookmark-search-input-clear {
    opacity: 0;
}

.search-reset-visible {
    cursor: pointer;
    opacity: 1;
}

#bookmark-search-result {
    top: 5.6rem;
    height: calc(100% - 6.5rem);
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    /*opacity: .98;*/
}

.bookmark-search-result-items {
    padding: 0.45rem 0.5rem 0.45rem 0.5rem;
    z-index: 1;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .12s ease-out all;
    outline: none;
}

.bookmark-search-result-items:hover {}

.bookmark-search-result-items span {
    padding: .2rem .4rem;
    margin: 0 .4rem;
    border-radius: .5rem;
    right: 0;
    position: absolute;
}

#bookmark-result-count {
    padding: 0.45rem 0.52rem;
}

#bookmark-no-results-found {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

#bookmark-no-results-found img {
    width: 10rem;
    margin: 4rem 0 0 0;
}


/*SideBar*/

#system-link-area {
    height: 100%;
    width: 2.6rem;
    position: fixed;
    z-index: 15;
    overflow: hidden;
    opacity: 0;
    font-size: 1rem;
    transition: .3s cubic-bezier(.58, .11, .2, 1.05) all;
}

#mFilter {
    transition: .7s;
}

.filter {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, .3);
}

.menu {
    height: 1.5rem;
    padding: 0.65rem;
    font-size: 1rem;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.menu-icon {
    height: 1.3rem;
    width: 1.3rem;
    padding: 0 0.65rem 0.2rem 0;
    vertical-align: middle;
    pointer-events: none;
}


/*Body*/

#body-main {
    margin: 0 2.6rem 0 3.25rem;
    font-size: .96rem;
    opacity: 0;
    transition: .5s cubic-bezier(.49, .03, .12, 1.00) all;
}


/* #body-main:empty{
  background-image: url(../img/emptyState_0.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: none;
  background-position: center center;
} */

.content-module {
    margin: 1.5rem 1.04rem;
    padding: 0;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0.65rem;
    transition: .48s cubic-bezier(.58, .11, .2, 1.00) all;
}

.content-header {
    height: 1.3rem;
    padding: 0.26rem 0.52rem;
    cursor: default;
    font-size: 0.9750rem;
}

.content-module ul {
    width: 100%;
}

.content-module ul li {
    position: relative;
    display: block;
    transition: .12s ease-out all;
}

.content-module ul li:hover {}

.content-module ul li a {
    height: 1.3rem;
    padding: 0.45rem 0.5rem 0.45rem 0.5rem;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.bookmark-count {
    padding: 0.39rem 0.52rem 0.39rem 0.52rem;
    display: block;
    font-size: 0.78rem;
}

.favicon {
    top: 0.13rem;
    height: 1.04rem;
    width: 1.04rem;
    margin: 0rem 0.26rem 0rem 0.26rem;
    position: relative;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.float-menu {
    margin: -2.8rem 0 0 1rem;
    padding: 0.5rem;
    position: fixed;
    visibility: hidden;
    cursor: default;
    border-radius: 0.65rem;
    opacity: 0;
    transition: .14s cubic-bezier(.58, .11, .2, 1.05) all;
}

.activeFloatMenu {
    margin: -2.8rem 0 0 3.8rem;
    visibility: visible;
    opacity: 1;
}

#float-menu-theme div {
    margin: 0.3rem 0.2rem 0.3rem 0;
}

#float-menu-visibility {
    display: flex;
    padding: .7rem 0 .7rem .7rem;
}

#web-search-area {
    padding: 1rem 2rem 0 4.6rem;
    vertical-align: middle;
    text-align: center;
    transition: .12s ease-out all;
}

#web-search-input {
    width: 80%;
    max-width: 50rem;
    padding: 0.6rem 0.65rem 0.6rem 0.65rem;
    overflow: hidden;
    cursor: pointer;
    margin: .4rem .2rem;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.65rem;
    outline: none;
}

#web-search-input:focus {
    cursor: text;
}

::-webkit-input-placeholder {
    transition: .6s ease all;
}

#web-search-input:focus::-webkit-input-placeholder {}

#web-search-submit {
    line-height: 1rem;
    /*color: #5F6368;*/
    /*box-shadow: 0 0.13rem 0.325rem rgba(0, 0, 0, .3);*/
    border-radius: 0.65rem;
    cursor: pointer;
    vertical-align: middle;
    margin: .4rem .2rem;
    border-width: 1px;
    border-style: solid;
    padding: 0.6rem 0.65rem 0.6rem 0.65rem;
    outline: none;
    transition: .12s ease-out all;
}

.displayNone {
    display: none;
}