:root {
    --base: #0d1113;
    --surface: #0b0e0f;
    --boundary: #354046;
    --primary: #9ba3a7;
    --secondary: #abadae;
    --shadow1: rgba(0, 0, 0, .45);
    --shadow2: rgba(0, 0, 0, .45);
    --filter1: invert(50%);
    --filter2: invert(70%);
}