:root {
    --accent1: #f9b026;
    --accent2: #fff0b0;
    --base1: #f6f6f6;
    --base2: #ebedee;
    --surface: #ffffff;
    --boundary: #ccc;
    --primary: #333;
    --secondary: #678;
    --shadow1: rgba(0, 0, 0, .45);
    --shadow2: rgba(0, 0, 0, .45);
    --filter1: invert(50%);
    --filter2: invert(30%);
}